<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SEL4C.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SEL4CTests_pruebasunitarias.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pruebasUnitarias_RF012.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pruebasUnitarias_RF12.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pruebasUnitarias_RF13.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pruebasunitarias_RF0017.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>pruebasunitarias_RF011.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>pruebasunitarias_RF021.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E3B91FC2AD77CDF0047177F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ED0D3272ACF128700BC972B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ED0D3342ACF447000BC972B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ED0D3412ACF51C300BC972B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EEFEFF62AA3D24700809FEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
